@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kdam Thmor Pro", sans-serif;
}

.contato {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://images.hdqwalls.com/wallpapers/the-batman-red-2020-86.jpg);
    background-size: cover;
}

.content {
    max-width: 800px;
    text-align: center;
}

.content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #ffb3b3;
}

.content p {
    font-weight: 300;
    color: #ffb3b3;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contatoinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.icon {
    max-width: 60px;
    height: 60px;
    background: #ffb3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.texto {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #ffb3b3;
    flex-direction: column;
    font-weight: 300;
}

h3 {
    font-weight: 500;
    color: #00bcd0;
}

.contatoform {
    width: 40%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5%;
}

.contatoform h2 {
    font-size: 30px;
    color: #ffb3b3;
    font-weight: 500;
}

.inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputbox input,
.inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    color: #ddd;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #ffb3b3;
}

.inputbox input:focus ~ span,
.inputbox input:valid ~ span,
.inputbox textarea:focus ~ span,
.inputbox textarea:valid ~ span {
    color: #ffb3b3;
    font-size: 12px;
    transform: translateY(-20px);
}

.inputbox input[type="submit"] {
    width: 100px;
    background: #d21617;
    color: #ffb3b3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}

.inputbox input[type="submit"]:hover {
    background: #fff;
    color: black;
    opacity: 0.7;
}

#rgba {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

@media (max-width: 768px) {
    .contato {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .contatoinfo {
        margin-bottom: 40px;
    }
    .contatoform {
        width: 100%;
    }
}
